{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %} 
<script src="{% static 'LoadComments.js' %}"></script>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <br>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 me-md-auto align-items-center align-items-sm-start text-decoration-none text-white" id="menu">
                    <li class="nav-item px-2">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle px-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-plus fa-lg"></i>
                                <span>New</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="{% url 'main:add_folder' %}">Folder</a></li>
                              <li><a class="dropdown-item" href="{% url 'main:upload' %}">Upload</a></li>
                            </ul>
                        </div>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a href="{% url 'main:homepage' %}" class="nav-link align-middle px-0 text-decoration-none text-white">
                            <i class="fa fa-home fa-lg px-2" witdh=15 height=15></i><span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0 text-decoration-none text-white">
                            <i class="fa fa-clock-o fa-lg px-2"></i><span class="ms-1 d-none d-sm-inline">Recent</span>
                        </a>
                    </li>
                    <br>
                    <li class="nav-header">
                        <h5 class="px-2">My folders:</h5>
                    </li>
                    {% for folder in all_folders %}
                        {% if folder.user.pk == request.user.pk %}
                            <li class="nav-item">
                                <a href="{% url 'main:folder' folder.pk %}" class="nav-link align-middle px-0 text-decoration-none text-white">
                                    <i class="fa fa-folder-o fa-lg px-2"></i><span class="ms-1 d-none d-sm-inline" style="margin-left: 10%">{{folder.name}}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <li class="nav-header">
                        <h5 class="px-2">Shared with me:</h5>
                    </li>
                    {% for folder in all_folders %}
                        {% if request.user in folder.allowed_user.all %}
                            <li class="nav-item">
                                <a href="{% url 'main:folder' folder.pk %}" class="nav-link align-middle px-0 text-decoration-none text-white">
                                    <i class="fa fa-folder-o fa-lg px-2"></i><span class="ms-1 d-none d-sm-inline" style="margin-left: 10%">{{folder.name}}</span>
                                </a>
                            </li> 
                        {% endif %}
                    {% endfor %}
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            {% for folder in folders %}
                {% if request.user in folder.allowed_user.all or request.user == folder.user %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <h3>{{folder.name}}</h3>
                            <div class="btn-group" role="group">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary mb-3 my-auto" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Basic">
                                    Invite contributor
                                </button>
                                <button onclick="loadComments()" class="btn btn-outline-primary mb-3 my-auto">Comments</button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add a contributor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="{% url 'main:add_user' pk=folder.pk%}">
                                                    {% csrf_token %}
                                                    <input name="searched" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> 
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            <br>
            <!-- COMMENT SECTION -->
            <div id="comments" class="d-none">
                <div class="card shadow">
                    <div class="card-header">
                        Comments:
                    </div>
                    <form method="POST" class="px-3 py-2">
                        {% csrf_token %}
                        {% for field in form %}
                            {{field|as_crispy_field}}
                        {% endfor %}
                        <button class="btn btn-primary">Comment</button>
                    </form>
                    <div class="card-body">
                        {% for folder in folders %}
                            {% for comment in folder.comments.all %}
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <p class="small d-flex flex-grow-1" style="margin-bottom: -0.2%">{{comment.comment_user}}</p>
                                            <p class="small ml-auto flex-row-reverse">{{comment.date}}</p>
                                        </div>
                                        <hr style="margin-top: -0.2%; margin-bottom: -0.1%">
                                        <p class="card-text my-1">{{comment.content}}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- END OF COMMENT SECTION -->
            <br>
            <ul class="list-group ">
                {% for folder in folders %}
                    {% for file in folder.file.all %}
                        {% if request.user in folder.allowed_user.all or request.user == folder.user %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto my-auto">
                                    <div class=""><a class="text-decoration-none" href="{{file.file.url}}">{{file.title}}</a></div>
                                </div>
                                <div class="btn-group">
                                    <a role="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    options 
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><h6 class="dropdown-header">Add to:</h6></li>
                                        {% for folder in all_folders %}
                                            {% if request.user == folder.user %}
                                            <li><a class="dropdown-item" href="{% url 'main:add_file' pk=file.pk id=folder.id%}">{{folder.name}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        <li><h6 class="dropdown-header">Shared folders:</h6></li>
                                        {% for folder in all_folders %}
                                            {% if request.user in folder.allowed_user.all%}
                                            <li><a class="dropdown-item" href="{% url 'main:add_file' pk=file.pk id=folder.id%}">{{folder.name}}</a></li> 
                                            {% endif %}
                                        {% endfor %}
                                        <li><h6 class="dropdown-header">Options</h6></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'main:delete' file.pk %}">Delete</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
              </ul> 
        </div>
    </div>
</div>



{% endblock %}